<a href="https://colab.research.google.com/github/MINJI-95236/2024_data-science/blob/main/0415_name.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#데이터 프레임 생성하기

## 슬램덩크 주인공들의 정보를 데이터 프레임으로 생성하고, 데이터를 조회해보자

In [60]:
#판다스 모듈을 불러와주세요.

import

In [ ]:
#아래 코드를 그대로 실행하세요.

df = pd.DataFrame({
    '이름' : ['채치수', '정대만', '송태섭', '서태웅', '강백호', '변덕규', '황태산', '윤대협'],
    '학교' : ['북산고', '북산고', '북산고', '북산고', '북산고', '능남고', '능남고', '능남고'],
    '키' : [197, 184, 168, 187, 188, 202, 188, 190],
    '국어' : [90, 40, 80, 40, 15, 80, 55, 100],
    '영어' : [85, 35, 75, 60, 20, 100, 65, 85],
    '수학' : [100, 50, 70, 70, 10, 95, 45, 90],
    '과학' : [95, 55, 80, 75, 35, 85, 40, 95],
    '사회' : [85, 25, 75, 80, 10, 80, 35, 95],
    'SW특기' : ['Python', 'Java', 'Javascript', '', '', 'C', 'PYTHON', 'C#']
})

df #df 데이터 프레임 출력

In [ ]:
#'이름' 컬럼만 출력할 수 있도록 아래 코드를 작성하세요.

df[    ]

In [ ]:
#'이름'과 '학교'컬럼만 출력할 수 있도록 아래 코드를 작성하세요.
# 힌트 - 원하는 컬럼들을 리스트 형태로 전달합니다.

df[    ]

In [ ]:
# '이름' 컬럼명을 'name'으로 변경하고, '학교' 컬럼명을 'school'로 변경하세요.
# 나머지 컬럼은 변경하지 않아야하며 원본 데이터는 변경되지 않아야 합니다.
# 힌트 - inplace =True 를 작성하지 말고, 코드 작성 후 실행만 하세요.

df.rename(    )

In [ ]:
# 먼저, 채치수부터 윤대협까지 1번부터 8번까지의 인덱스를 지정하세요.
# 그다음 1번~8번까지의 인덱스 이름을 '학번'으로 지정하세요.

df.index=[   ]
df.index.name=


######### 아래는 건드리지 마세요 #########

df # 데이터프레임을 출력하는 코드

In [ ]:
# 채치수, 송태섭 학생의 인덱스를 이용하여 이름과 국어 점수를 출력하세요.

df.loc[        ]

In [ ]:
#강백호 학생의 전체 데이터를 출력하세요.

df.loc[         ]

In [ ]:
# 강백호학생부터 윤대협학생까지의 '이름','학교','키'를 모두 출력하세요

df.loc[         ]