<a href="https://colab.research.google.com/github/MINJI-95236/2024_data-science/blob/main/github_test_name.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

변수 a에는 숫자 8을, 변수 b에는 문자열 'Daejeon'을 할당하고, 그 값을 각각 출력하세요.

In [ ]:
a =
b =
print(  )
print(  )