<a href="https://colab.research.google.com/github/MINJI-95236/data/blob/main/%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D%EC%9D%84_%EC%9C%84%ED%95%9C_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 'Daejeon'
b = 2024
print(a, b)

Daejeon 2024

In [ ]:
a = 3
A = 'Daejeon'
print(a)
print(A)

3
Daejeon

In [ ]:
bus1 = 10
bus2 = 20
bus3 = 30
bus = [10, 20, 30]

print(bus)

[10, 20, 30]

In [ ]:
city = ['Seoul', 'Busan', 'Ulsan']
print(city)
print(len(city))

['Seoul', 'Busan', 'Ulsan']
3

In [ ]:
food = ['pizza','pasta','salad']
print(food[0])

pizza

In [ ]:
food = ['pizza','pasta','salad']
print(food[3]) # 어떤 값이 출력되나요?
print(food[-1])

IndexError: list index out of range

In [ ]:
food = ['pizza','pasta','salad','curry','steak']
print(food[:4])

['pizza', 'pasta', 'salad', 'curry']

In [ ]:
food = ['pizza','pasta','salad']
food[0] = 'taco'
print(food)

['taco', 'pasta', 'salad']

In [ ]:
food = ['pizza','pasta','salad']
food[0:2] = ['taco','steak']
print(food)

['taco', 'steak', 'salad']

In [ ]:
city = ['Seoul', 'Busan', 'Ulsan']
city[1:2] =  ['Yangon', 'Chicago']
print(city)

['Seoul', 'Yangon', 'Chicago', 'Ulsan']

In [ ]:
city = ['Seoul', 'Busan', 'Ulsan', 'Daegu', 'Jeju', 'Incheon']
city[1:3] = ['Yangon', 'Chicago']
print(city)

['Seoul', 'Yangon', 'Chicago', 'Daegu', 'Jeju', 'Incheon']

In [ ]:
food = ['pizza','pasta','salad','buger','curry']
food[1:3] = ['taco','steak']
print(food)

['pizza', 'taco', 'steak', 'buger', 'curry']

In [ ]:
city = ['Seoul', 'Busan', 'Ulsan', 'Daegu', 'Jeju', 'Incheon']
city[1:3] = ['Yangon', 'Chicago']
print(city)

['Seoul', 'Yangon', 'Chicago', 'Daegu', 'Jeju', 'Incheon']

In [ ]:
food = ['salad','buger','curry']
food.insert(0,'sushi')
print(food)

['sushi', 'salad', 'buger', 'curry']

In [ ]:
food = ['pizza','pasta','salad']
food.append('burger')
print(food)

['pizza', 'pasta', 'salad', 'burger']

In [ ]:
city = ['Seoul', 'Busan', 'Ulsan']
abroad = ['Yangon', 'Chicago']
city.extend(abroad)
print(city)

['Seoul', 'Busan', 'Ulsan', 'Yangon', 'Chicago']

In [ ]:
food = ['pizza','pasta','salad']
food.remove('pasta') #0번째 자리에 'sushi'를 추가
print(food)

['pizza', 'salad']

In [ ]:
num = [21, 45, 31, 40, 1]
num.sort()
print(num)

[1, 21, 31, 40, 45]